@model IEnumerable<Resturant.Models.Foods>
@{
    ViewData["Title"] = "صفحه اصلی";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm  bg-secondary bg-gradient  box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Resturant</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
</header>
@* home section start *@
<section class="home-section" id="home">
    <div class="home-bg"></div>
      <div class="container">
        <div class="row min-vh-100 aling-items-center">
          <div class="home-text" data-aos="fade-up" data-aos-duration="1000">
            <h1>Resturant</h1>
                <p>A restaurant is an establishment that prepares and serves food and drinks to customers</p>
            <a href="#our-menu" class="btn btn-default">Menu Foods</a>
          </div>
        </div>
      </div>
    </section>
@* home section end *@
@* about section start *@
<section class="about-section sec-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 data-aos="fade-up">About us</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-text text-start" data-aos="fade-left">
                <h3>Welcome to restaurant</h3>
                <p>
                    A restaurant is an establishment that prepares and serves food and drinks to customers.Meals are generally served and eaten on the premises, but many restaurants also offer take-out and food delivery services. Restaurants vary greatly in appearance and offerings, including a wide variety of cuisines and service models ranging from inexpensive fast-food restaurants and cafeterias to mid-priced family restaurants, to high-priced luxury establishments.
                </p>
                <a  asp-controller="Home" asp-action="menuFoods" class="btn btn-default">Menu Foods</a>
            </div>
            <div class="about-img" data-aos="fade-right">
                <div class="img-box">
                    <h3>20 years history </h3>
                    <img src="~/img/about-img.jpg" alt="about img">
                </div>
            </div>
        </div>
    </div>
</section>
@* about section end *@
@* menu section start *@
<section class="menu-section sec-padding" id="our-menu">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 data-aos="fade-up">Menu Foods</h2>
            </div>
        </div>
        <div class="row">
            <div class="menu-tabs" data-aos="fade-up">
                <button type="button" class="menu-tab-item active" data-target="#Pizza">Pizza</button>
                <button type="button" class="menu-tab-item" data-target="#Sandwich">Sandwich</button>
                <button type="button" class="menu-tab-item" data-target="#Drink">Drink</button>
                <button type="button" class="menu-tab-item" data-target="#Dessert">Dessert</button>
                <button type="button" class="menu-tab-item" data-target="#Burger">Burger</button>

            </div>
        </div>

        <div class="row menu-tab-content active" id="Pizza" >
        @foreach (var food in Model.Where(f => f.Category =="Pizza").Take(4))
        {
                 <div class="menu-item" data-aos="fade-up-left"> 
                     <div class="menu-item-title"> 
                         <img src="@food.Image" alt="menu item"> 
                         <h3>@food.Name</h3> 
                     </div> 
                     <div class="menu-item-price"> 
                         @food.Price $ 
                     </div> 
                 </div>
        }
        </div>

        <div class="row menu-tab-content" id="Sandwich">
            @foreach (var food in Model.Where(f => f.Category == "Sandwich").Take(4))
            {
                <div class="menu-item" data-aos="fade-up-left">
                    <div class="menu-item-title">
                        <img src="@food.Image" alt="menu item">
                        <h3>@food.Name</h3>
                    </div>
                    <div class="menu-item-price">
                        @food.Price $
                    </div>
                </div>
            }
        </div>
        <div class="row menu-tab-content" id="Drink">
            @foreach (var food in Model.Where(f => f.Category == "Drink").Take(4))
            {
                <div class="menu-item" data-aos="fade-up-left">
                    <div class="menu-item-title">
                        <img src="@food.Image" alt="menu item">
                        <h3>@food.Name</h3>
                    </div>
                    <div class="menu-item-price">
                        @food.Price $
                    </div>
                </div>
            }
        </div>
        <div class="row menu-tab-content" id="Dessert">
            @foreach (var food in Model.Where(f => f.Category == "Dessert").Take(4))
            {
                <div class="menu-item" data-aos="fade-up-left">
                    <div class="menu-item-title">
                        <img src="@food.Image" alt="menu item">
                        <h3>@food.Name</h3>
                    </div>
                    <div class="menu-item-price">
                        @food.Price $
                    </div>
                </div>
            }
        </div>
        <div class="row menu-tab-content" id="Burger">
            @foreach (var food in Model.Where(f => f.Category == "Burger").Take(4))
            {
                <div class="menu-item" data-aos="fade-up-left">
                    <div class="menu-item-title">
                        <img src="@food.Image" alt="menu item">
                        <h3>@food.Name</h3>
                    </div>
                    <div class="menu-item-price">
                        @food.Price $
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@* menu section end *@
@* team section start *@
<section class="team-section sec-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 data-aos="fade-up" data-title="Team">Our chefs</h2>
            </div>
        </div>
        <div class="row">
            <div class="team-item" data-aos="flip-left" data-aos-duration="1000">
                <img src="~/img/team/1.jpg" alt="team item">
                <div class="team-item-info">
                    <h3>Arshin Hemati</h3>
                    <p>Chef</p>
                </div>
            </div>
            <div class="team-item" data-aos="flip-left" data-aos-duration="1000">
                <img src="~/img/team/2.jpg" alt="team item">
                <div class="team-item-info">
                    <h3>Payman Kheradmand</h3>
                    <p>Chef</p>
                </div>
            </div>
            <div class="team-item" data-aos="flip-left" data-aos-duration="1000">
                <img src="~/img/team/3.jpg" alt="team item">
                <div class="team-item-info">
                    <h3>Sara Ramezan Zade</h3>
                    <p>Chef</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-item" data-aos="fade-up">
                <h3>Address</h3>
                <p>Birjand <br>Moalem Street</p>
            </div>
            <div class="footer-item" data-aos="fade-up">
                <h3>working hours</h3>
                <p> Saturday to Friday <br>From 10 am to 10 pm</p>
            </div>
            <div class="footer-item" data-aos="fade-up">
                <h3>Communication</h3>
                <p>09375986221</p>
                <p>info@gmail.com</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                &copy; 2025 - Designed Saeed Choupani
            </div>
        </div>
    </div>
</footer>


